<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.BA.BaSite" version="2.12.5" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BA.Controls" version="2.12.5" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BA.Framework" version="2.12.5" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BA.Icons" version="2.12.5" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.BaseTemplate" version="14.3.210" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="14.3.210" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics" version="22.0.7066" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnosticsControl" version="14.3.210" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="14.3.212" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="14.3.210" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Server.Engineering" version="22.0.7066" targetFramework="native1.12-tchmi" />
  <package id="Microsoft.TypeScript.MSBuild" version="5.8.3" developmentDependency="true" />
</packages>